body {
  min-width: 400px;
  min-height: 300px;
  background: #E25151 url('../img/stripe.png');
  color: black;
  font-family: arial,helvetica,sans-serif;
  margin: 0;
  padding: 10px 0 0;
}

.btn-sm, .btn-group-sm>.btn {
  padding: 3px 5px;
}

.btn-group>.btn:first-child {
  margin-left: 10px;
}

.centre{
  text-align: center;
}

.mar-top-btm-5{
  margin-bottom:5px;
  margin-top:5px;
  position: absolute;
  right: 68px;
  top: -10px;
}

a {
  color: black;
}

h1 {
  font-size:1.8rem;
  font-weight:bold;
}

h1.heading {
  font-weight: bold;
  font-size: 1.2em;
  color:white;
  padding-left: 1px;
  margin-top: 6px;
  display: inline;
}

.filled{
  background-image:url('../img/heartfilled.png');
  background-size: cover;
  width: 38px;
  height: 38px;
  position: absolute;
  right: 5px;
  top: 10px;
}

.hollow{
  background-image:url('../img/hearthollow.png');
  background-size: cover;
  width: 38px;
  height: 38px;
  position: absolute;
  right: 5px;
  top: 10px;
}

footer {
  background-color:rgba(221, 221, 226, 0.28);
  font-size: 10px;
  width:25%;
  padding: 1px 2px 2px 2px;
  border-radius:15px;
  text-align: center;
  font-style: italic;
  margin: 5px auto;
}

footer a, footer a:hover {
  color:rgba(255, 255, 255, 0.81);
}

#loadingDiv{
  width:100%;
  padding-top:40px;
  vertical-align: middle;
  text-align: center;
  position:absolute;
  top:0;
  left:0;
}

#plays #results {
  overflow-y:scroll;
  height:495px;
  margin-top: 8px;
  background: white;
}

#plays #results li.break {
  border-bottom: 1px solid black;
  font-size: 12px;
  overflow: auto;
  background: #646464;
  color: #fff;
  padding: 3px 5px;
  font-weight: bold;
  clear: both;
}


#plays #results li.play, #plays #results li.favi  {
  position: relative;
  height: 80px;
  padding-bottom: 5px !important;
  border-bottom: solid 1px #C4C4C0;
  background: #F9F9F9;
}

#plays #results > ul > li .album-art {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 70px;
  height: 70px;
}

#plays #results li.play>p, #plays #results li.favi>p {
  padding: 0;
  margin: 0 0 0 80px;
  font-size: 12px;
  max-width: 230px;
}

#plays ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

#plays #results li.play>p.time, #plays #results li.favi>p.time {
  color: #707070;
  padding-top: 5px;
}

#plays #results .artist {
  font-weight: bold;
}

#plays #results li.play>p.search, #plays #results li.favi>p.search {
  color: #707070;
  padding: 0;
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 10px;
}

#logo{
  float: right;
  position: absolute;
  top: -15px;
  right: 14px;
  width: 40px;
  height: 40px;
  z-index: 10;
}

.btn-default.active {
  background-color: #C7C7C7 !important;
  border-color: #777 !important;
}

#emptyDiv{
  display: none;
  width:100%;
  text-align: center;
}

